@import "../mixins";

@font-face {
  font-family: 'Roboto';
  src: url(../../../fonts/Roboto-Regular.ttf) format("truetype");
}

body{
  margin: 0;
  background-color: var(--mainBackground);
  #root{
    width: 100%;
    height: 100%;
  }
  @include loading-screen();
}