@import "../pageControls";
@import "../mixins";

@font-face {
  font-family: 'Roboto';
  src: url(../../../fonts/Roboto-Regular.ttf) format("truetype");
}
#main-root {
  background-color: #E5E4FF;
  margin: 0 150px;
  font-family: Roboto, serif;
  .main{
    display: flex;
    flex-direction: column;
  }
  #tooltip-root{
    margin: 20px;
  }
  .colors-list {
    &-table {
      width: 100%;
      border-collapse: collapse;
      &-thead {
        tr {
          th {
            text-align: start;
            padding: 8px;
          }
        }
      }
      &-tbody {
        &-item {
          background-color: #DFDEFF;
          & > td {
            padding: 9px 6px;
            border-top: 2px solid #26156A;
            border-collapse: collapse;
            text-align: center;
            &:nth-of-type(2n+1)
            {
              background-color: #E5E4FF;
            }
          }
          &-image > img{
            height: 250px;
            max-width: 90%;
          }
          &-value {
            &-parent{
              background-color: white;
              width: 60px;
              height: 60px;
              border-radius: 50%;
              margin: auto;
              &-child {
                background-color: transparent;
                width: 60px;
                height: 60px;
                cursor: pointer;
                display: block;
                border-radius: 50%;
                border: 2px solid #000000;
              }
            }
            &-fileInput {
              display: none;
              &Label{
                width: 500px;
                height: 200px;
                display: inline-block;
                text-align: center;
                cursor: pointer;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
              }
            }
          }
        }
      }
    }
  }
  .colors-picker{
    border-radius: 80px;
    border: 4px solid #26156A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px auto;
    box-shadow: 4px 6px 9px 2px rgba(117, 117, 117, 0.19);
    padding: 17px 0;
    width: 70%;
    &:hover{
      box-shadow: 4px 6px 9px 4px rgba(60, 60, 60, 0.19);
      transition: box-shadow .1s;
    }
    p {
      display: flex;
      justify-content: center;
      width: 90%;
      margin: 10px auto;
    }
    &-color {
      background-color: white;
      box-shadow: 4px 6px 9px 2px rgba(128, 128, 128, 0.19);
      display: block!important;
      &-value {
        display: block;
        padding: 6px;
        text-align: center;
      }
    }
    &-close {
      justify-content: end!important;
      &-button {
        color: #26156A;
        text-align: center;
        font-size: 1.1rem;
        font-weight: 600;
        border-radius: 0.36rem;
        border: 4px solid #26156A;
        background: #E5E4FF;
        cursor: pointer;
        margin: 2px;
      }
    }
    &-submit {
      display: flex;
      justify-content: center;
      &-button{
        color: #26156A;
        text-align: center;
        font-size: 1.1rem;
        font-weight: 600;
        padding: 5px 25px;
        border-radius: 0.36rem;
        border: 4px solid #26156A;
        background: #E5E4FF;
        cursor: pointer;
      }
    }
    #picked-color {
      color: transparent;
      text-shadow: none;
    }
    input[type="range"]{
      -webkit-appearance: none;
      appearance: none;
      background: transparent;
      cursor: pointer;
      width: 60%;

      /******** Chrome ********/
      &::-webkit-slider-runnable-track {
        background: #86A1FF;
        height: 0.5rem;
      }
      &::-webkit-slider-thumb{
        -webkit-appearance: none;
        appearance: none;
        margin-top: -5px; /* Centers thumb on the track */
        background-color: #26156A;
        height: 1rem;
        width: 1rem;
      }

      /******** Firefox ********/
      &::-moz-range-track {
        background: #86A1FF;
        height: 0.5rem;
        box-shadow: 4px 6px 9px 2px rgba(128, 128, 128, 0.19);
      }
      &::-moz-range-thumb{
        border: none; /*Removes extra border that FF applies*/
        border-radius: 0; /*Removes default border-radius that FF applies*/
        background-color: #26156A;
        height: 1rem;
        width: 1rem;
      }
      &#colors-picker-value-red-input{
        &::-webkit-slider-runnable-track{
          background-color: #f86767;
        }
        &::-moz-range-track{
          background-color: #f86767;
        }
      }
      &#colors-picker-value-green-input{
        &::-webkit-slider-runnable-track{
          background-color: #90f867;
        }
        &::-moz-range-track{
          background-color: #90f867;
        }
      }
      &#colors-picker-value-blue-input{
        &::-webkit-slider-runnable-track{
          background-color: #67d6f8;
        }
        &::-moz-range-track{
          background-color: #67d6f8;
        }
      }
    }
  }
}

@include tooltip-style();