{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('form_style') }}
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}
{% block icon %}
    <link rel="icon" href="/uploads/settings/{{ icon }}">
{% endblock %}

{% block body %}
    <div id="root">

    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('form') }}
{% endblock %}