{% extends 'base.html.twig' %}

{% block title %}Hello DashboardLoginController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Wojtek/Desktop/Coding/PortfolioCMS/src/Controller/DashboardLoginController.php'|file_link(0) }}">src/Controller/DashboardLoginController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Wojtek/Desktop/Coding/PortfolioCMS/templates/dashboard_login/index.html.twig'|file_link(0) }}">templates/dashboard_login/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
