{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('dashboard_login_style') }}
{% endblock %}

{% block title %}
    Panel logowania
{% endblock %}

{% block body %}
    <main id="form-root">

    </main>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dashboard_login') }}
{% endblock %}
