@import 'variables.scss';
@font-face {
  font-family: 'Roboto';
  src: url(../../fonts/Roboto-Regular.ttf) format("truetype");
}

body {
  background-color: #DFDEFF;
  margin: 0;
  .header {
    background-color: #86A1FF;
    color: #E5E4FF;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    font-family: Roboto, serif;
    @media screen and (max-width: $small-breakpoint)
    {
      flex-direction: column;
      font-size: 2rem;
    }
    &-menu-button{
      font-size: 2rem;
      font-style: normal;
      line-height: normal;
      text-align: center;
      margin: 0 0 0 20px;
      padding: 10px;
      color: #26156A;
      font-weight: 600;
      border-radius: 0.36rem;
      border: none;
      background: transparent;
      cursor: pointer;
      width: 70px;
      height: 70px;
      &-logo{
        width: 50px;
        height: 50px;
        &:hover{
          filter: drop-shadow(0 0 2px #7e7e7e) drop-shadow(0 0 2px #7e7e7e);
        }
      }
    }
    &-title{
      color: #E5E4FF;
      font-size: 3rem;
      font-style: normal;
      line-height: normal;
      text-align: center;
      margin: 0;
      padding: 10px;
      width: 20%;
      cursor: pointer;
      @media screen and (max-width: $small-breakpoint)
      {
        width: 100%;
      }
    }
    &-user {
      width: 70%;
      @media screen and (max-width: $small-breakpoint)
      {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
      display: flex;
      justify-content: end;
      align-items: center;
      font-weight: 600;
      &-logo {
        height: 1.3rem;
        width: 1.3rem;
        margin: 10px;
      }
      &-name{
        font-size: 1.3rem;
        @media (max-width: 1000px) {
          font-size: 1.8rem;
        }
      }

    }
    &-logout {
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 1500px) {
        width: 20%;
      }
      @media (max-width: 1000px) {
        margin: 15px;
      }
      @media screen and (max-width: $small-breakpoint)
      {
        margin: 15px;
      }
      &-button {
        color: #26156A;
        text-align: center;
        font-size: 1.1rem;
        font-weight: 600;
        padding: 5px 25px;
        border-radius: 0.36rem;
        border: 4px solid #26156A;
        background: #E5E4FF;
        cursor: pointer;
        &:hover{
          box-shadow: 4px 6px 9px 2px rgba(58, 58, 58, 0.19);
        }
      }
    }

  }
  .breadcrumbs {
    background-color: #E8E8FF;
    margin: 0 150px;
    @media (max-width: 1000px) {
      margin: 0 100px;
    }
    @media (max-width: 600px) {
      margin: 0 60px;
    }
    font-family: Roboto, serif;
    padding: 10px 30px;
    &-path {
      cursor: pointer;
      text-decoration: underline;
      text-decoration-thickness: .1rem;
      text-underline-offset: 3px;
      &:last-child{
        text-decoration: none;
        cursor: context-menu;
      }
    }
    &-path, .breadcrumbs-separator {
      font-size: 1.25rem;
      text-transform: capitalize;
      @media (max-width: 1000px) {
        font-size: 1.8rem;
      }
    }
    &-separator {
      padding: 0 10px;
    }
  }
}