@font-face {
  font-family: 'Roboto';
  src: url(../../fonts/Roboto-Regular.ttf) format("truetype");
}
#main-root{
  background-color: #E5E4FF;
  margin: 0 150px;
  .settings {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    &-column{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 60%;
    }
    .tile{
      &.disabled {
        color: currentColor;
        opacity: 0.5;
        text-decoration: none;
        pointer-events: none;
        cursor: not-allowed;
      }

      background-color: #EAEAFF;
      width: 200px;
      display: block;
      text-decoration: none;
      font-family: Roboto, serif;
      color: #26156A;
      box-shadow: 4px 6px 9px 2px rgba(117, 117, 117, 0.19);
      text-align: center;
      margin: 25px 55px;
      transition: transform .5s, box-shadow .5s;

      &-image{
        width: 100px;
        height: 100px;
        margin: 30px;
      }
      &-title{
        background-color: #FFFFFF;
        padding: 16px 15px;
        margin: 30px 0 0;
      }

      &:hover:not(.disabled){
        box-shadow: 4px 6px 9px 4px rgba(0, 0, 0, 0.19);
        transform: scale(1.02);
        transition: transform .1s, box-shadow .1s;
      }
    }

  }
}