@import "variables.scss";
@mixin page-width()
{
  margin: 0 150px;
  @media screen and (max-width: $medium-breakpoint) {
    margin: 0 50px;
  }
  @media screen and (max-width: $small-breakpoint) {
    margin: 0 20px;
  }
}

@mixin form-style() {
  display: flex;
  flex-direction: column;
  p{
    margin: auto;
    margin-bottom: 20px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: $medium-breakpoint) {
      width: 70%;
      flex-direction: column;
    }
    @media screen and (max-width: $small-breakpoint) {
      width: 90%;
    }
    label{
      font-size: 1.1rem;
      line-height: 2;
      &:after{
        content: ":";
      }
    }
    // all spans inside of p are considered as tooltips
    span{
      font-size: 1.05rem;
      line-height: 1.5;
      color: #856404;
      background-color: #fff3cd;
      border-color: #ffeeba;
      padding: .75rem 1.25rem;
    }
    input {
      font-size: 1.05rem;
      background-color: #F6F6FF;
      border: none;
      padding: 10px 30px;
      @media screen and (max-width: $medium-breakpoint) {
        padding: 10px 5px;
        margin: auto;
      }
      &[type="checkbox"] {
        cursor: pointer;
        width: 25px;
        aspect-ratio: 1 / 1;
        accent-color: #26156A;
        border: none;
      }
      &::-webkit-calendar-picker-indicator {
        background: transparent;
      }
      &[type="text"] {
        text-align: center;
      }
      &:not([type="checkbox"]){
        width: 50%;
        @media screen and (max-width: $medium-breakpoint) {
          width: 70%;
          flex-direction: column;
        }
        @media screen and (max-width: $small-breakpoint) {
          width: 90%;
        }
      }
      &[type="submit"]{
        padding: 12px 30px;
        font-size: 1.1rem;
        background-color: #6be16b;
        border: none;
        cursor: pointer;
        &:hover{
          box-shadow: 4px 6px 9px 2px rgba(58, 58, 58, 0.19);
        }
      }
    }
  }
  .editor-form-field-submit{
    margin: auto;
  }
}

@mixin action-button-style(){
  padding: 12px 30px;
  font-size: 1.1rem;
  background-color: #6be16b;
  border: none;
  cursor: pointer;
  max-height: 45px;
  @media (max-width: 1000px) {
    font-size: 1.8rem;
    max-height: 60px;
  }
  &:hover{
    box-shadow: 4px 6px 9px 2px rgba(58, 58, 58, 0.19);
  }
}

@mixin list-style(){
  &-table {
    width: 100%;
    border-collapse: collapse;
    @media screen and (min-width: $medium-breakpoint) {
      &-thead {
        tr {
          th {
            text-align: start;
            padding: 8px;
            @media (max-width: 1000px) {
              font-size: 1.7rem;
            }
          }
        }
      }
      &-tbody {
        &-item {
          background-color: #DFDEFF;
          & > td {
            border-top: 2px solid #26156A;
            border-collapse: collapse;
            text-align: center;
            margin: 0;
            &:nth-of-type(2n+1)
            {
              background-color: #E5E4FF;
            }
          }
          &-delete, &-edit, &-changeOrder {
            cursor: pointer;
            text-align: center;
            width: 75px;
            & > a{
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            &:hover{
              background-color: #26156A!important;
              transition: background-color .1s;
              & > a > img {
                transition: filter .1s;
                filter: brightness(0) invert(1);
              }
            }
            &-icon {
              width: 50px;
              height: 50px;
            }
          }
          &-changeOrder{
            cursor: grab;
            &-icon{
              pointer-events: none;
              user-drag: none;
              user-select: none;
              -moz-user-select: none;
              -webkit-user-drag: none;
              -webkit-user-select: none;
              -ms-user-select: none;
            }
          }
          &-lastEditedBy {
            font-size: 1.3rem;
          }
          &-active {
            width: 75px;
            span{
              position: relative;
              display: inline-block;
              margin: auto;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              .tooltip{
                visibility: hidden;
                width: 120px;
                background-color: #6f6f7e;
                color: #ffffff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 10px;
                position: absolute;
                z-index: 1;
                margin-left: 15px;
              }
              &:hover{
                .tooltip {
                  visibility: visible;
                }
              }
            }
            .active {
              background-color: #41d241;
            }
            .inactive {
              background-color: #ef3d3d;
            }
          }
        }
      }
    }
    @media screen and (max-width: $medium-breakpoint) {
      display: block;
      &-thead {
        visibility: hidden;
      }
      &-tbody {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 35px;
        &-item {
          width: 100%;
          margin-bottom: 40px;
          background-color: #DFDEFF;
          display: flex;
          flex-direction: column;
          box-shadow: 4px 6px 9px 4px rgba(0, 0, 0, 0.19);
          & > td {
            border-collapse: collapse;
            margin: 0;
            text-align: center;
            display: flex;
            justify-content: center;
            padding: 10px;
            &:nth-of-type(2n+1)
            {
              background-color: #E5E4FF;
            }
          }
          &-delete, &-edit, &-changeOrder {
            cursor: pointer;
            text-align: center;
            & > a{
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            &:hover{
              background-color: #26156A!important;
              transition: background-color .1s;
              & > a > img {
                transition: filter .1s;
                filter: brightness(0) invert(1);
              }
            }
            &-icon {
              width: 50px;
              height: 50px;
            }
          }
          &-changeOrder{
            cursor: grab;
            &-icon{
              pointer-events: none;
              user-drag: none;
              user-select: none;
              -moz-user-select: none;
              -webkit-user-drag: none;
              -webkit-user-select: none;
              -ms-user-select: none;
            }
          }
          &-lastEditedBy {
            font-size: 1.3rem;
          }
          &-active {
            height: 100px;
            span{
              position: relative;
              display: inline-block;
              margin: auto;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              .tooltip{
                visibility: hidden;
                width: 120px;
                background-color: #6f6f7e;
                color: #ffffff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 10px;
                position: absolute;
                z-index: 1;
                margin-left: 15px;
              }
              &:hover{
                .tooltip {
                  visibility: visible;
                }
              }
            }
            .active {
              background-color: #41d241;
            }
            .inactive {
              background-color: #ef3d3d;
            }
          }
        }
      }
    }
  }
}

@mixin tooltip-style() {
  #tooltip-root{
    display: flex;
    align-items: center;
    @media screen and (max-width: $medium-breakpoint) {
      flex-direction: column;
    }
    img{
      width: 40px;
      height: 40px;
      @media screen and (max-width: $medium-breakpoint) {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
      }
      &:hover{
        cursor: pointer;
      }
    }
    #tooltip-text{
      margin: 0 20px;
      font-size: 1.05rem;
      line-height: 1.5;
      @media (max-width: 1000px) {
        font-size: 1.8rem;
      }
      color: #856404;
      background-color: #fff3cd;
      border-color: #ffeeba;
      padding: 0.75rem 1.25rem;
    }
  }
}