@import "variables.scss";
.page-controls {
  background-color: #86A1FF;
  color: #E5E4FF;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $small-breakpoint) {
    flex-direction: initial;
    flex-wrap: wrap;
  }
  label:after{
    content: ":";
  }
  padding: 25px 40px;
  align-items: center;
  justify-content: center;
  #page-number {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  &-numeration {
    padding: 0 10px;
    font-weight: bold;
    font-size: 1.3rem;
    @media screen and (max-width: $small-breakpoint) {
      margin: 10px auto;
    }
  }
  &-pageNumber, &-elementsPerPage {
    width: 40px;
    height: 20px;
    border: none;
    &:focus, &:focus-visible{
      border: none;
    }
    &-label {
      font-size: 1.1rem;
      padding: 0 10px 0 10px;
    }
    @media screen and (max-width: $small-breakpoint) {
      margin: 10px auto;
    }
  }
  &-prevPage, &-nextPage {
    color: #26156A;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    background: #FFFFFF;
    cursor: pointer;
    margin: 0 20px;
    padding: 3px;
    &:hover {
      box-shadow: 4px 6px 16px 4px rgba(35, 35, 35, 0.11);
      transition: box-shadow 0.1s;
    }
    @media screen and (max-width: $small-breakpoint) {
      margin: 10px 20px;
    }
  }
}