@import "../pageControls";
@import "../confirmation";
@import "../mixins";

@font-face {
  font-family: 'Roboto';
  src: url(../../../fonts/Roboto-Regular.ttf) format("truetype");
}
#main-root {
  background-color: #E5E4FF;
  margin: 0 150px;
  font-family: Roboto, serif;
  .editor {
    display: flex;
    flex-direction: column;
    padding: 30px;
    &-save{
      text-align: center;
      &-button {
        @include action-button-style();
      }
    }
    #form{
      @include form-style();
    }
    &-form-field{
      background-color: #F6F6FF;
      margin: 20px 60px;
      padding: 10px 0;
    }
  }
}