@import "../pageControls";
@import "../confirmation";
@import "../mixins";

@font-face {
  font-family: 'Roboto';
  src: url(../../../fonts/Roboto-Regular.ttf) format("truetype");
}
@include tooltip-style();
#main-root {
  background-color: #E5E4FF;
  margin: 0 150px;
  font-family: Roboto, serif;
  .sections-head {
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    &-button {
      @include action-button-style();
      &:nth-of-type(2){
        margin-left: 25px;
      }
    }
  }
  .sections-list {
    @include list-style();
  }
  .sections-list-table-tbody-item.draggedObject{
    border-top: 2px solid #26156A;
    border-collapse: collapse;
    display: flex;
    justify-content: end;
    td {
      &:not(:first-of-type){
        display: none;
      }
      &:first-of-type{
        width: 100%;
        border: none;
        text-align: left;
        padding: 0 40px;
      }
    }
  }
}