@import "../pageControls";
@import "../confirmation";
@import "../mixins";

@font-face {
  font-family: 'Roboto';
  src: url(../../../fonts/Roboto-Regular.ttf) format("truetype");
}
#main-root {
  background-color: #E5E4FF;
  margin: 0 150px;
  font-family: Roboto, serif;
  .sections-head {
    display: flex;
    flex-direction: row-reverse;
    padding: 30px;
    &-button {
      @include action-button-style();
    }
  }
  .sections-list {
    @include list-style();
  }
}