{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('dashboard_index_style') }}
    {{ encore_entry_link_tags('dashboard_gallery_style') }}
{% endblock %}

{% block title %}
    Panel sterowania
{% endblock %}

{% block body %}
    <header id="header-root"></header>
    <main id="main-root"></main>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dashboard_index') }}
    {{ encore_entry_script_tags('dashboard_gallery') }}
{% endblock %}
