@import "../pageControls";
@import "../mixins";

@font-face {
  font-family: 'Roboto';
  src: url(../../../fonts/Roboto-Regular.ttf) format("truetype");
}
@include tooltip-style();
#main-root {
  background-color: #E5E4FF;
  @include page-width;
  font-family: Roboto, serif;
  .main{
    display: flex;
    flex-direction: column;
  }
  #tooltip-root{
    margin: 20px;
  }
  .settings-list {
    @media screen and (min-width: $medium-breakpoint) {
      &-table {
        width: 100%;
        border-collapse: collapse;
        &-thead {
          tr {
            th {
              text-align: start;
              padding: 8px;
            }
          }
        }
        &-tbody {
          &-item {
            background-color: #DFDEFF;
            & > td {
              padding: 9px 6px;
              border-top: 2px solid #26156A;
              border-collapse: collapse;
              text-align: center;
              &:nth-of-type(2n+1)
              {
                background-color: #E5E4FF;
              }
            }
            &-image > img{
              height: 250px;
              max-width: 90%;
            }
            &-value {
              input[type="text"] {
                width: 400px;
                height: 42px;
                text-align: center;
                font-size: 1.1rem;
                background-color: #F8F8FF;
              }
              &-fileInput {
                display: none;

                &Label{
                  width: 500px;
                  height: 200px;
                  display: inline-block;
                  text-align: center;
                  cursor: pointer;
                  background-size: contain;
                  background-position: center;
                  background-repeat: no-repeat;
                }
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: $medium-breakpoint) {
      &-table {
        width: 100%;
        border-collapse: collapse;
        display: block;
        &-thead {
          visibility: hidden;
        }
        &-tbody {
          width: 100%;
          display: flex;
          flex-direction: column;
          padding-top: 35px;
          &-item {
            width: 100%;
            margin-bottom: 40px;
            background-color: #DFDEFF;
            display: flex;
            flex-direction: column;
            box-shadow: 4px 6px 9px 4px rgba(0, 0, 0, 0.19);
            & > td {
              padding: 9px 6px;
              border-collapse: collapse;
              text-align: center;
              &:nth-of-type(2n+1)
              {
                background-color: #E5E4FF;
              }
            }
            &-image > img{
              height: 250px;
              max-width: 90%;
            }
            &-value {
              input[type="text"] {
                width: 400px;
                height: 42px;
                text-align: center;
                font-size: 1.1rem;
                background-color: #F8F8FF;
              }
              &-fileInput {
                display: none;

                &Label{
                  width: 500px;
                  height: 200px;
                  display: inline-block;
                  text-align: center;
                  cursor: pointer;
                  background-size: contain;
                  background-position: center;
                  background-repeat: no-repeat;
                }
              }
            }
          }
        }
      }
    }
  }
}